<div class="m-3 card-columns"> <!-- CARD DECK END -->

  <div class="card" *ngFor="let book of books">
    <div class="card-header">
      <h6 class="panel-title text-center">
        <a [routerLink]="['/book', book.id]" (click)="progress.start()">{{book.title}}</a>
      </h6>
      <div class="card-subtitle mb-2 text-muted" [style.font-size.%]="75">{{book.subTitle}}</div>
      <div class="card-text text-center" [style.font-size.%]="75">
          <span *ngFor="let category of book.categories"
                class="badge badge-pill badge-secondary mr-1 pb-1" [style.white-space]="'normal'">{{category}}</span>
      </div>
    </div>
    <img class="" *ngIf="book.smallThumbnail" src="{{book.smallThumbnail}}" alt="Card image cap" width="100%" />
    <div *ngIf="book.authors" class="card-footer">
      <p class="card-text">
        <small class="text-muted">by
          <span>{{book.authors | arrayDisplay}}</span>
        </small>
      </p>
    </div>
  </div>

</div> <!-- CARD DECK END -->
