<nav aria-label="Page navigation example mb-3">
  <ul class="pagination" style="min-width: 200px;">
    <li class="page-item text-center"
        [class.disabled]="gbooks.page <= 1" [style.width.%]="50">
      <a class="page-link" href="javascript:void(0)" (click)="prev()">Previous</a></li>
    <li class="page-item text-center"
        [class.disabled]="gbooks.page >= gbooks.totalPages" [style.width.%]="50">
      <a class="page-link" href="javascript:void(0)" (click)="next()">Next</a></li>
  </ul>
</nav>
