<div class="row m-3">
  <div class="col-lg-6" *ngIf="book | async; let book;">
    <h2 class="text-center">{{book.title}}</h2>
    <h6 class="text-center">{{book.subTitle}}</h6>
    <div class=" m-3">
      <img class="rounded mx-auto" (load)="loaded()" src="{{book.thumbnail}}" width="128" height="194">
    </div>
    <dl>
      <dt>Description</dt>
      <dd>
        <p  [innerHtml]="book.description ? book.description.slice(0, 150) + ' ...' : ''"></p>
      </dd>
      <dt>Authors</dt>
      <dd *ngFor="let author of book.authors">{{author}}</dd>
      <dt>Categories</dt>
      <dd>
        <span *ngFor="let category of book.categories"
              class="badge badge-pill badge-secondary mr-1 pb-1">{{category}}</span>
      </dd>
      <dt>Published Date</dt>
      <dd>{{book.publishDate}}</dd>
      <dt>Publisher</dt>
      <dd>{{book.publisher}}</dd>
    </dl>
    <p [innerHtml]="book.description"></p>
    <p>
      <button type="button" [disabled]="hasBook(book)" (click)="addBook(book)"
              class="btn btn-primary">Add To Library</button>
      <button type="button" [disabled]="!hasBook(book)" (click)="removeBook(book)"
              class="btn btn-secondary ml-2">Remove From Library</button>
    </p>
  </div>
</div>
