<div class="container">
  <div class="m-3 text-center">
    <form class="form-inline">
      <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="Enter search string"
               name="search"
               required #search>
      </div>
      <button type="submit" (click)="onSearch(search.value)"
              class="btn btn-primary ml-2">
        Search
      </button>
    </form>
    <hr />

    <div class="text-center">
      <p *ngIf="gbooks.totalItems > 0" class="lead">No results returned</p>
      <p *ngIf="!gbooks.initialised" class="lead">Enter a search string above and press search</p>
    </div>
  </div>

  <app-book-list *ngIf="!gbooks.loading" [books]="gbooks.books"></app-book-list>

  <div class="d-flex justify-content-center">
    <app-pager></app-pager>
  </div>
</div>
